
@{
    ViewBag.Title = "Accueil";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<div class="container mt-2">
    <div class="jumbotron">
        <h1 class="display-4">Hello, @My_T_Shirt.Helpers.Authentication.getPrenom(true)  @My_T_Shirt.Helpers.Authentication.getNom(true)</h1>
        <p class="lead">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque
            exercitationem laborum neque velit odio ratione qui eveniet consectetur
            perferendis fugiat ipsum nemo, excepturi repudiandae minima laudantium.
            Distinctio perferendis exercitationem dolor?
        </p>
        <hr class="my-4">
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque
            exercitationem laborum neque velit odio ratione qui eveniet consectetur
            perferendis fugiat ipsum nemo, excepturi repudiandae minima laudantium.
            Distinctio perferendis exercitationem dolor?
        </p>
        <a class="btn btn-primary " href="#" role="button">voire plus</a>
    </div>
</div>


